In [1]:
# imorting libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# loading dataset
df = pd.read_csv('C:\\Users\\Sapna\\Downloads\\Petrol_consumption.csv')
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
# performing EDA
df.shape

(48, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 1.9 KB

In [5]:
df.isnull().sum()

Petrol_tax                      0
Average_income                  0
Paved_Highways                  0
Population_Driver_licence(%)    0
Petrol_Consumption              0
dtype: int64

In [6]:
df.corr()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Petrol_tax,1.000000,0.012665,-0.522130,-0.288037,-0.451280
Average_income,0.012665,1.000000,0.050163,0.157070,-0.244862
Paved_Highways,-0.522130,0.050163,1.000000,-0.064129,0.019042
Population_Driver_licence(%),-0.288037,0.157070,-0.064129,1.000000,0.698965
Petrol_Consumption,-0.451280,-0.244862,0.019042,0.698965,1.000000

In [7]:
df.dtypes

Petrol_tax                      float64
Average_income                    int64
Paved_Highways                    int64
Population_Driver_licence(%)    float64
Petrol_Consumption                int64
dtype: object

In [8]:
# removing outliers
for col in df:
    Q1 =  df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    print (col, "=" , df[(df[col] < Q1-1.5*IQR ) | (df[col] > Q3+1.5*IQR)][col])

Petrol_tax = 5     10.0
36     5.0
Name: Petrol_tax, dtype: float64
Average_income = Series([], Name: Average_income, dtype: int64)
Paved_Highways = 11    14186
36    17782
Name: Paved_Highways, dtype: int64
Population_Driver_licence(%) = 18    0.724
Name: Population_Driver_licence(%), dtype: float64
Petrol_Consumption = 18    865
39    968
Name: Petrol_Consumption, dtype: int64

In [9]:
df.drop([39,], inplace = True)
df.drop([36,], inplace = True)
df.drop([18,], inplace = True)
df.drop([11,], inplace = True)
df.drop([5,], inplace = True)

In [10]:
corr_ser = df.corr().iloc[-1,:].sort_values(ascending = False)
corr_ser

Petrol_Consumption              1.000000
Population_Driver_licence(%)    0.611788
Paved_Highways                  0.034309
Average_income                 -0.347326
Petrol_tax                     -0.446116
Name: Petrol_Consumption, dtype: float64

In [11]:
df.drop("Paved_Highways",axis=1, inplace = True)

In [12]:
df.shape

(43, 4)

In [13]:
# dividing data in to x and y 
from sklearn.model_selection import train_test_split

In [14]:
x = df.iloc[:,:-1]
x.head()

   Petrol_tax  Average_income  Population_Driver_licence(%)
0         9.0            3571                         0.525
1         9.0            4092                         0.572
2         9.0            3865                         0.580
3         7.5            4870                         0.529
4         8.0            4399                         0.544

In [15]:
y = df.iloc[::,-1].values

In [16]:
y = y.reshape(-1,1)

In [17]:
# feature scaling
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(x)
x[0:4]

array([[ 1.57132228, -1.11707987, -0.81031071],
       [ 1.57132228, -0.17202718,  0.12924061],
       [ 1.57132228, -0.58378718,  0.28916424],
       [-0.25744508,  1.23920314, -0.7303489 ]])

In [18]:
# splitting data into train and test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2,random_state = 20)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((34, 3), (9, 3), (34, 1), (9, 1))

In [19]:
# building model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
ypredict = model.predict(x_test)

In [20]:
# checking accuracy
from sklearn.metrics import r2_score
r2_score(y_test,ypredict)

0.5505729059905136